{% extends "_base.html" %}
{% block content %}

<script src="{{url_for('static', filename='jquery.js')}}" type="text/javascript"></script>

<link href="{{url_for('static', filename='main0.css')}}" rel="stylesheet" media="screen">

<script type="text/javascript">
 (function() {
     console.log('no more');
 })();


 function handleClick(event) {
     event.preventDefault();

     $('#images, #btn').fadeOut(200);

     var form_data = new FormData();
     form_data.append('file', $('#a').prop('files')[0]);
     form_data.append('column', $('#column').val()); <!--  -->

     fetch('/tasks', {
         method: 'POST',
         body: form_data,
     })
             .then(response => response.json())
             .then(data => getStatus(data.task_id))
             .catch(err => console.error(err));
 }


function getStatus(taskID) {
    fetch(`/tasks/${taskID}`, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        },
    })
        .then(response => response.json())
        .then(res => {
            const html = `
                <tr>
                    <td>${taskID}</td>
                    <td>${res.task_status}</td>
                    <td>${res.task_result}</td>
                </tr>`;
            const result_display = document.getElementById('results');
            const image_display = document.getElementById('images');
            result_display.innerHTML = `Getting results... status: ${ res.task_status }`;

            const taskStatus = res.task_status;
            if (taskStatus === 'SUCCESS') {
                result_display.innerHTML = res.task_result[0]['count']
                result_display.src = res.task_result[0]['image']
                $('#images, #btn').fadeIn(200);
                console.log("/getCSV/" + res.task_result[0]['image'])
                $('#images').attr('src', "/getChart/" + res.task_result[0]['data']);
                $('#btn').click(function() {
                    window.location = "/getCSV/" + res.task_result[0]['data']
                });

                return true

            } else if(taskStatus === 'FAILURE') {
                result_display.innerHTML = taskID + " failed"
                return false
            }

            setTimeout(function() {
                getStatus(res.task_id);
            }, 1000);
        }).catch(err => console.log(err));
}

 function download(filename) {
     fetch(`/getCSV/${filename}`, {
         method: 'GET',
     })
         .then(response => response.json())
         .catch(err => console.error(err));
 }
</Script>

<!-- <head>
     <link rel="stylesheet" type="text/css" href="style/style.css" />
     </head> -->

<div id="form-container">
    <!------------------------------------------------------------------------>
    <!--                          getting from repo                         -->
    <!------------------------------------------------------------------------>
    <form action = "{{url_for('main.repo')}}" method="POST">

        <input type='text' name="repo_url" placeholder="repo url" />
        <input type='text' name="branch" placeholder="branchname" />

        <input class="button" type="submit" value="Retrieve" />

    </form>

    <!------------------------------------------------------------------------>
    <!--                           labelling text                            ->
    <!------------------------------------------------------------------------>


    <form action="{{url_for('main.label')}}" method="POST">
        <!-- <input type="text" name="language" /> -->
        <textarea name="comment"> </textarea>
        <input class="button" type="submit" value="Show results" />
        <!-- <div class="button" onClick="javascript:this.form.submit();">Show results</div> -->

        <div id="results">
            <!-- {% if result != 'none' %} -->
            <p> {{result}} </p>
            <!-- {% endif %} -->

        </div>
            <br />
            <br />
            <button type="button" id="btn" value="Download" class="button">Predicted File Ready</button>
            <br />
            <br />
            <img id="images" src="" />
    </form>


    <form name="file_labeler">
        <input type='text' id="column" placeholder="column name to filter" />
        <br />
        <input type="file" id="a" />
        <br />
        <button class="button" onclick="handleClick(event)"> submit file </button>
    </form>


</div>
{% endblock %}
